{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true
    },
    "extends": "node",
    "parserOptions": {
        "ecmaVersion": 12
    },
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "import/no-commonjs" : "off",
        "import/no-nodejs-modules" : "off"
    }
}
